logs
*.iml
target
.idea
.idea_modules
.vscode
generated.keystore
generated.truststore
*.log

bin/
.scala_dependencies
.classpath
.project
.settings/
.cache-main
.cache-tests

bin/
/db
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache